.nav {
    li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
        a {
            color: var(--surface-400);
            cursor: pointer;
            &:hover {
                color: #ff3a00;
            }
        }
    }
}
.active {
    color: #ff3a00 !important;
}
